{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    ["import", { "libraryName": "antd-mobile", "style": "css" }], // `style: true` 会加载 less 文件
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}
